#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.card {
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  box-shadow:0 1px 20px rgba(176, 169, 169, 0.3);
  height: 180px;
  margin: auto;
  padding: 40px;
  text-align: center;
  position: relative;
}

.result-card {
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: transparent;
  width: 50vw;
  box-shadow:0 1px 20px rgba(176, 169, 169, 0.3);
  margin: auto;
  margin-bottom: 15px;
  padding: 40px;
  text-align: center;
  position: relative;
}

img {
  margin: auto;
  width: 10%;
  position: absolute;
  bottom: 30%;
  right: 45%;
}

.card:hover {
  cursor: pointer;
}

.type {
  font-weight: bold;
  color: gray;
  font-size: 14px;
  margin: 0px;
}

.card-text {
  margin: auto;
  width: 100%;
}

.arrow {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px 60px;
}

.arrow:hover {
  border: 1px solid gray;
}

.arrow-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: absolute;
  bottom: 5px;
  left: 20px;
  right: 20px;
}

.shuffle, .test {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  width: 75px;
  height: 30px;
  padding: 10px 0;
}

.shuffle:hover, .test:hover {
  border: 1px solid rgb(84, 84, 205);
  cursor: pointer;
}

.main {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

ul#navbar {
  width: 100vw;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 0px;
  padding-left: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  display:inline;
  text-align: left;
  margin: auto;
  margin-top: 0px;
  background-color: white;
  border-bottom: 1px solid rgb(234, 228, 228);
  box-shadow:0 1px 20px rgba(176, 169, 169, 0.3);
  /* Any other CSS you want */
}

ul#navbar li {
  display:inline;
  margin: 10px;
}

.submit-btn {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: auto;
  width: 150px;
  height: 30px;
  padding: 10px 0;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: rgb(242, 242, 242);
}

.red {
  color: red;
}

.green {
  color: green;
}

.title {
  margin-top: 50px;
}

.warning {
  font-style: italic;
  color: red;
  font-size: 14px;
  margin: 10px;
}